@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio web, @Model.Visitante</h1>
        <p>Bienvenido a mi tienda, espero que disfrutes tu estancia y encuentres lo que buscas.</p>

        <p>La fecha y hora es: @Model.fecha</p>
        <p class="card-page40"> Esta página se creó el: <string>@Model.FechaCreacion.ToShortDateString()</string></p>
        <p class="card-text text-muted">Hace @Model.DiasCreacion dias</p>
</div>

<div class="card">
    <h3 class="card-header">Visitantes:</h3>
    <ul>
        @foreach ( var i in Model.Visitantes)
        {
            <li>@i</li>
        }
    </ul>
</div>
